table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    vertical-align: middle;
  }
  .table-holder {
    overflow-x: auto;
}
td{
    background: transparent;
    transition: background 0.3s ease-in-out
}
td.alert{
    background: #fbfbbe;
}
.state-text{
    position: relative;
    top: -7px;
}