<br />
<mat-form-field>
  <input class="filter-input" matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'filter' | translate}}">
</mat-form-field>

<div class="mat-elevation-z8" *ngIf="vehiclesData">
  <div class="table-holder">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{alert: row.changed}"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="regNr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RegNr </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{alert: row.changed}"> {{row.regNr}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>
          {{'state' | translate}} </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{alert: row.changed}"
          [style.color]="row.state === false ? 'red' : 'green'">
          <span *ngIf="row.state === false"><mat-icon>close</mat-icon> <span class="state-text">{{'disconnected' | translate}}</span></span>
          <span *ngIf="row.state === true"><mat-icon>check</mat-icon> <span class="state-text">{{'connected' | translate}}</span></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="customer.address">
        <th mat-header-cell *matHeaderCellDef>
          {{'customer-address' | translate}} </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{alert: row.changed}"> {{row.customer.address}} </td>
      </ng-container>

      <ng-container matColumnDef="customer.name">
        <th mat-header-cell *matHeaderCellDef>
          {{'customer-name' | translate}} </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{alert: row.changed}"> {{row.customer.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
</div>