<mat-toolbar>
<mat-toolbar-row>

  <button class="menu-btn" mat-icon-button (click)="fireToggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="welcome-msg">
      Alten
      {{'vehicle-monitoring' | translate}}
    </span>
  <span class="header-spacer"></span>
  


  <button class="language-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="en-btn" mat-menu-item (click)="changeLang('en')">
          <img class="flag" src="./assets/en.jpg" />
          <span>
              {{'english' | translate}}</span>
      </button>
      <button class="sw-btn" mat-menu-item (click)="changeLang('sw')">
        <img class="flag" src="./assets/sw.png" />
        <span>
            {{'swedish' | translate}}</span>
      </button>
    </mat-menu>


  <button mat-icon-button  aria-label="Example icon-button with a menu" (click)="toggleFullScreen()">
    <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
    <mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon>
  </button>


</mat-toolbar-row>
</mat-toolbar>
