.header-icon {
    padding: 0 14px;
  }
  
  .header-spacer {
    flex: 1 1 auto;
  }
 .flag {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    margin-right: 10px;
}