.layout-container {
    width: 100%;
    height: calc(100vh - 92px);
  }
  
  .layout-sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
  }
  
  .layout-sidenav {
    width: 300px;
    background: #404040
  }
  
  .cars-img{
    position: fixed;
    z-index: -1;
    opacity: 0.1;
    width: 100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }