<alten-header (toggleMenu)="drawer.toggle()"></alten-header>
<mat-drawer-container class="layout-container" autosize>
  <mat-drawer #drawer class="layout-sidenav" mode="over">
    <alten-side-bar></alten-side-bar>
  </mat-drawer>

  <div class="layout-sidenav-content">
    <ng-content></ng-content>
    <img class="cars-img" src="./assets/cars.png"/>
  </div>

</mat-drawer-container>
<alten-footer></alten-footer>

