@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* variables */
$PrimaryColor: #276088;

html, body {
    font-family: 'Ubuntu', sans-serif !important;
}

/* material overrides */
.mat-toolbar{
    background: $PrimaryColor;
    color: #fff;
}

@media screen and (max-width: 786px) {
    .welcome-msg {
        font-size: 12px 
    }
    .layout-sidenav-content{
        padding: 0 15px !important;
    }
    .mat-table td {
        font-size: 12px;
        padding: 0 8px !important;
    }
  }